@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  font-family: 'roboto', sans-serif;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 75px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #e9e9e9;
}

.container:before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: #ff2400;
  position: absolute;
  top: 0;
}

.container nav .nav-logo {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-top: 7px;
}

.container nav .nav-logo img {
  width: 65px;
  height: 65px;
}

.container nav .nav-logo .nav-name-logo {
  margin-left: -15px;
  margin-top: 3px;
}

.container nav .nav-logo .nav-name-logo div {
  width: 400px;
  text-align: center;
}

.container nav .nav-logo .nav-name-logo div:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
}

.container nav .nav-logo .nav-name-logo div:nth-child(2) {
  font-size: 0.8rem;
}

.container nav .nav-logo .nav-name-logo div:nth-child(3) {
  font-size: 0.68rem;
}

.container nav .ham-menu {
  display: none;
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: 50px;
  margin-top: 28px;
}

.container nav .ham-menu .line {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #757575;
  border-radius: 2px;
  -webkit-transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.container nav .ham-menu .top {
  top: 18%;
}

.container nav .ham-menu .middle {
  top: 48%;
}

.container nav .ham-menu .bottom {
  top: 78%;
}

.container nav .close .top {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 48%;
}

.container nav .close .middle, .container nav .close .bottom {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 48%;
}

.container nav .nav-wrapper {
  float: right;
}

.container nav .nav-wrapper ul li {
  display: inline-block;
  margin-top: 4px;
  float: left;
  position: relative;
}

.container nav .nav-wrapper ul li:nth-child(5):after, .container nav .nav-wrapper ul li:nth-child(6):after, .container nav .nav-wrapper ul li:first-child:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #ff7043;
  -webkit-transition: 0.12s width ease-in-out;
  transition: 0.12s width ease-in-out;
}

.container nav .nav-wrapper ul li:hover a {
  color: #ff7043;
}

.container nav .nav-wrapper ul li:nth-child(5):hover:after, .container nav .nav-wrapper ul li:nth-child(6):hover:after, .container nav .nav-wrapper ul li:nth-child(1):hover:after {
  width: 100%;
  -webkit-transition: 0.12s width ease-in-out;
  transition: 0.12s width ease-in-out;
}

.container nav .nav-wrapper ul li:hover .drop-down {
  display: block;
}

.container nav .nav-wrapper ul li:last-child {
  margin-right: 50px;
}

.container nav .nav-wrapper ul li .drop-down {
  display: none;
  position: absolute;
  width: 150px;
  z-index: 99;
  background-color: #e9e9e9;
  left: -15px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25);
}

.container nav .nav-wrapper ul li .drop-down li {
  display: block;
  width: 100%;
  margin-left: 0px;
}

.container nav .nav-wrapper ul li .drop-down li:after {
  content: '';
  display: none;
}

.container nav .nav-wrapper ul li .drop-down li a {
  display: block;
  padding: 12px 0;
  width: 100%;
  margin: 0;
  font-weight: normal;
  color: #757575;
  padding-left: 15px;
}

.container nav .nav-wrapper ul li .drop-down li a:hover {
  color: #757575;
  background-color: #d6d6d6;
}

.container nav .nav-wrapper ul li:not(:first-child) {
  margin-left: 25px;
}

.container nav .nav-wrapper ul li a {
  display: inline-block;
  color: #757575;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1.1px;
  padding: 27px 0;
  cursor: pointer;
  -webkit-transition: 0.12s all ease-in-out;
  transition: 0.12s all ease-in-out;
}

.container nav .nav-wrapper ul li .active {
  color: #ff7043;
  position: relative;
}

.container nav .nav-wrapper ul li .active:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #ff7043;
}

@media only screen and (max-width: 1160px) {
  .container nav .ham-menu {
    display: block;
  }
  .container nav .nav-wrapper {
    display: none;
    width: 100%;
    background-color: white;
  }
  .container nav .nav-wrapper ul li {
    margin-top: 0px;
    display: block;
    width: 100%;
  }
  .container nav .nav-wrapper ul li a {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
  }
  .container nav .nav-wrapper ul li:not(:first-child) {
    margin-left: 0px;
  }
  .container nav .nav-wrapper ul li:nth-child(5):hover:after, .container nav .nav-wrapper ul li:nth-child(6):hover:after, .container nav .nav-wrapper ul li:nth-child(1):hover:after {
    display: none;
  }
  .container nav .nav-wrapper ul li:hover a {
    color: #000;
  }
  .container nav .nav-wrapper ul li .drop-down {
    position: static;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .container nav .nav-wrapper ul li .drop-down li {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.08);
    margin-top: 0px;
  }
  .container nav .nav-wrapper ul li .drop-down li a {
    width: 100%;
    padding-left: 0;
  }
  .container nav .nav-wrapper ul li .active:before {
    content: '';
    display: none;
  }
}

@media only screen and (max-width: 580px) {
  .container {
    height: 130px;
  }
  .container nav .nav-logo img {
    width: 65px;
    height: 65px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .container nav .nav-logo .nav-name-logo {
    display: block;
    width: 100%;
    position: absolute;
    top: 73px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    margin: 0;
    margin-top: 3px;
  }
  .container nav .nav-logo .nav-name-logo div {
    width: 100%;
    text-align: center;
  }
  .container nav .nav-logo .nav-name-logo div:nth-child(1) {
    font-size: 1.34rem;
    font-weight: bold;
  }
  .container nav .nav-logo .nav-name-logo div:nth-child(2) {
    font-size: 0.65rem;
  }
  .container nav .nav-logo .nav-name-logo div:nth-child(3) {
    font-size: 0.5rem;
  }
  .container nav .ham-menu {
    margin-right: 30px;
    position: relative;
  }
  .container nav .nav-wrapper {
    margin-top: 85px;
    background-color: white;
  }
}
/*# sourceMappingURL=header.css.map */